{% load static%}
{% static "images" as baseUrl %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DESTINOS TURISTICOS</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/stylesDestinos.css' %}">
</head>
<body>
    <div class="contenedor">
        <h1>PORQUE VIAJAR, ES DE LAS MEJORES FORMAS DE CONECTAR CON EL MUNDO</h1>
        <h2>Opcion: Listar</h2>
        <div class="destinos"> 
            {% for destino in destinos%}
            <div class="destino-item">
                <div class="destino-imagen">
                    <img src="img1.png" alt="">
                    {% if dest.offer %}
                    <div class="spec_offer text-center">En oferta</div>
                    {% endif %}
                </div>
                <div class="destino-contenido">
                    <div class="destino_titulo">New York</div>
                    <div class="destino_descripcion"><p>Es de las mejores ciudades que han existido en el mundo</p></div>
                    <div class="destino_precio">Precio de: S/800</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>