{% load static%}
{% static "images" as baseUrl %}

<!DOCTYPE html>
<html>
<head>
    <title>Seleccionar y Editar Destino</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styleEditar.css' %}">
</head>
<body>
    <h1>Seleccionar y Editar Destino</h1>

    <h2>Destinos Disponibles</h2>
    <div class="destinos-list">
        {% for destino in destinos %}
            <a class="destino-link" href="{% url 'seleccionar-editar-destino-con-pk' destino.pk %}">{{ destino.nombreCiudad }}</a>
        {% endfor %}
    </div>

    {% if form %}
        <h2>Editar Destino: {{ selected_destino.nombreCiudad }}</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Guardar Cambios</button>
        </form>
    {% endif %}
</body>
</html>