{% load static%}
{% static "images" as baseUrl %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Destino Turístico</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styleEliminar.css' %}">
</head>
<body>
    <h1>Eliminar Destino Turístico</h1>
    <h2>Opcion: Eliminar</h2>
    <form method="post">
        {% csrf_token %}
        <label for="nombreCiudad">Selecciona un destino para eliminar:</label>
        <select name="nombreCiudad" id="nombreCiudad">
            {% for destino in destinos %}
                <option value="{{ destino.nombreCiudad }}">{{ destino.nombreCiudad }}</option>
            {% endfor %}
        </select>
        <button type="submit">Eliminar</button>
    </form>
</body>
</html>