* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    color: #ffffff; 
}

.contenedor {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #738fab; 
    padding: 20px;
}

.destinos {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
    background-color: #34495e; 
    padding: 20px;
    border-radius: 10px;
}

.destino-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(33.33% - 20px); 
    margin: 10px;
    height: auto;
    padding: 10px;
    background-color: #b1b1b1; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.destino-imagen {
    position: relative;
    height: 200px;
    width: 100%;
    background-color: #bdc3c7; 
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.destino-contenido {
    height: 160px;
    width: 100%;
    padding: 10px;
}

.destino_titulo {
    font-size: 27px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #2c3e50;
    font-weight: bold;
}

.destino_descripcion {
    color: #3b4c4d;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.destino_precio {
    font-size: 18px;
    font-weight: bold;
    color: #d35400; 
    margin-bottom: 10px;
    text-align: center;
}

.spec_offer {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #d35400; 
    color: white;
    padding: 5px 10px;
    border-radius: 0 0 5px 0;
}

.spec_offer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}